<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <h1 class="single-post-title">Lázár kastély</h1>
    <img
      src="img/cards/laz.jpeg"
      alt=""
      class="single-cover-image"
      style="height: 240px"
    />
    <div class="single-post-content">
      <p>
        Gyergyóalfalutól 6,5km-re található a gyergyószárhegyi Lázár kastély,
        ahol Bethlen Gábor nevelkedett. A kastély az erdélyi reneszánsz
        építészet egyik legszebb alkotása.
      </p>
      <p>
        A mai épületegyüttes elődje a 15. századi András udvarház, de a 17.
        század első felében átalakították az épületet reneszánsz stílusúvá.
        Építtetője Lázár István Csík-, Gyergyó- és Kászonszék főkirálybírája
        volt.
      </p>
      <p>1853-ig a kastélyban Lázár Zsigmond és felesége lakott.</p>
      <p>
        1974 óta a kastélyban alkotótáborokat rendeznek, az ott készült
        képzőművészeti alkotások egy részét az újjáépített Tanácsteremben
        állítják ki. Az 1980-as években megkezdték a kastély rendbehozását és
        múzeumot rendeztek be. A kastélyban a közelmúltig Hargita Megye
        Tanácsának egyik alintézménye, a Szárhegyi Kulturális és Művészeti
        Központ működött.
      </p>
      <p>
        2014 januárja óta az örökösök közti jogvita miatt lakat került az
        épületre, azóta nem látogatható, viszont kívülről megtekinthető.
      </p>
    </div>
  </div>
</div>
