<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <h1 class="single-post-title">Medve-tó és Parajdi sóbánya</h1>
    <img
      src="img/cards/medveto.png"
      alt=""
      class="single-cover-image"
      style="height: 240px"
    />
    <div class="single-post-content">
      <p>
        Medve-tó (románul Lacul Ursu) Szovátán található, 54,3 km-re
        Gyergyóalfalutól.
      </p>
      <p>
        1857-ben keletkezett, a világ legnagyobb heliotermikus tava. Alakja
        kiterített medvebőrre hasonlít, innen származik a neve. Vize a helioterm
        jelenség következtében 35°C-ra is felmelegszik 2 méter mélységig, a tó
        kialakulásakor a legmelegebb rétegében 80°C-ot is mértek, viszont ez a
        beömlő édesvíz és a fürdőzők miatt csökkent.
      </p>
      <img src="img/cards/medveto2.jpeg" alt="" style="height: 240px" />
      <h2>Parajdi sóbánya</h2>
      <p>
        A parajdi sóbánya 44 km-re van Gyergyóalfalutól. Európa egyik legnagyobb
        só tartaléka, a sótömzs maga 1,2 km × 1,4 km átmérőjű, enyhén ellipszis
        alakú és 2700 m mélységbe gyökerezik. Több száz évnyi kibányászható sót
        rejt magában, ezért Erdély gazdagságának egyik legjelentősebb forrása.
      </p>
      <img src="img/cards/parajdi.jpeg" alt="" style="height: 240px" />
      <p>
        A parajdi sót, már a 15. századtól kezdve „székely sónak” nevezték, mely
        nevet adott egy erdélyi tájegységnek (= „Sóvidék”), munkát és
        megélhetést biztosított századokon át a vidék népének.
      </p>
      <p>
        A sóbányában való tartózkodás jótékony hatással van különböző
        betegségekre, valamint kiváló lehetőséget nyújt a felüdülésre.
      </p>
    </div>
  </div>
</div>
