<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>

      <!-- <div class="right">
        <a href="#" class="link">
          <i class="icon f7-icons single-post-actions">ellipsis_circle_fill</i>
        </a>
      </div> -->
    </div>
  </div>
  <div class="page-content">
    <h1 class="single-post-title">Gyergyóalfalfi templom</h1>

    <img style="height: 240px;" src="img/cards/templom.jpeg" alt="" class="single-cover-image" />

    <div class="single-post-content">
      <p>
        A templom alapjait tekintve a Gyergyói Medence legrégibb templomának
        számít. Ősiségét a nyugati oldalon található normann stílusú (román
        stílusú) kőkapuzat bizonyítja, amit mi, alfalviak, Árpádkori
        főbejáratként emlegetünk. A 2012-ben történt restauráláskor a tornyán
        még szerepelt egy latin felírat, miszerint 1213-ban épült:
        <p>
        AEDFICATAM MCCXIII IN H SS SIM ET IUDA APOSTOLORUM ET S MARG VET
        M. Magyarul: ÉPÍTETETT 1213-BAN SZT. SIMON ÉS JUDÁS ( TÁDDÉ) APOSTOLOK
        ÉS SZT. MARGIT SZŰZ ÉS VÉRTANÚ TISZTELETÉRE.
        </p>
      </p>
      <p>
        Az 1213-as dátumot egyesek kétségbe vonják, mások pedig, mint Venczel
        József szociológus, Sebestyén József archeológus, Entz Géza
        művészettörténész megerősítik, akárcsak László Mihály, aki 1812-ben volt
        Alfalu plébánosa. Tudni kell, hogy 1707-ben a labancok a falut
        felgyújtották, a templom tetőzete és a plébánia leégett az irattárral
        együtt, benne sok értékes emlékkel. Legutóbb az 1213-as dátum az 1770-es
        években került a toronyra. Valószínűleg volt alapos ok erre. Az évszám
        felírásának az alapja az égés után 70 évvel lehetett akár a
        szájhagyomány is. Az eredeti főbejárat, a román kori kőkapuzat ezt
        nyilván bizonyítja.
      </p>
      <p>
        A templomra vonatkozó írásos emléket a pápai tízed jegyzékben is
        találunk, amely szerint 1232, 1233, 1234-ben Alfalu adót fizetett még
        két faluval együtt a Gyergyói Medencében. Valószínűleg Szárhegy és
        Szentmiklós a másik kettő. A jegyzékek három gyergyói papot neveznek
        meg: Miklós, István, és Tamást. Azt a tényt, hogy a három pap közül az
        egyik Alfalu papja lehetett, Domokos Pál Péter is megerősíti a vatikáni
        levéltárban végzett kutatásai alapján.
      </p>
      <p>
        A templomot az évszázadok során többször átépítették különböző okokból. Leégett, megrongálódott a háborúk idején, vagy pedig szűknek bizonyult. Tehát volt NORMANN STÍLŰ, GÓTIKUS, és BAROKK, az utólag épült mellékhajó pedig NEOBAROKK.            
      </p>
     
      <p>
        Tehát álljon előttünk egy nagyon egyszerű román stílusú, azaz NORMAN stílusú "Árpádkori templom" az 1200-as évektől, majd egy GÓTIKUS, négy fiatornyos templom az 1400-as évektől 1707-ig. Ebből ma csak a jelenlegi torony alsó része áll. Erre épült a barokk felső rész. A  BAROKK átépítés 1766 és 1773 között történt, terméskőből. 
      </p>
      <p>Ekkor a torony és a déli fal kivételével a templomot lebontották, és barokk stílusban emelték újjá. Az építkezést  egy MURARIUR nevű vállalkozó vezette, akárcsak a csíksomlyói templom építését.  Ekkoriban a határőrség megszervezése a leghatékonyabb munkaerőt vonta el. Így hét év alatt készültek el a templom falai és a tetőzet. A főoltár, a mellékoltárok, a szószék és a karzat 1773-ban lettek készen. A barokk templom külső hossza 47 m, belső hossza 37 m. Külső szélessége 24 m. A torony magassága 46 m. A padokat 1776-ban készítették. A templom akkori befogadóképessége 600 személy volt.</p>
      <p>
        1786-ban SZENTHÁROMSÁG vasárnapján a templomot újra szentelte Batthyány Ignác, az akkori erdélyi püspök. Ennek emlékére tartják a SZENTHÁROMSÁGNAPI BÚCSUT. 
      </p>
      <p>
       A templom mellett temető volt, amiről LÁSZLÓ MIHÁLY plébános 1812-ben a következőket jegyzi meg: "A templom melletti ősi temető nagyon régi, nem későbbi, mint 1213". Ez a temető 1831-ben megszűnt. Az új temető helyét a Szárhegy felé vezető út melletti külterületen jelölték ki.
      </p>
      
      <p>
        1930-ban Gaál Tamás plébános idején a templom északi oldalát kibontották, és építettek egy mellékhajót. Ma ezt a hívők "Újrésznek" nevezik. A tetőzetet és a torony kupola részét is újra emelték. A bővítés tervét Lobenschus, marosvásárhelyi építész készítette. A mellékhajó téglából készült. A tornyon lévő kettős kereszt, az "Árpád házi kereszt", vagyis az "Apostoli kereszt" alatti gömbbe ekkor emlékiratot helyeztek el, amelyet egy 14 tagú csoport szerkesztett, és írt alá. Az emlékirat a Trianon utáni hangulatot őrzi. Ebből következett a "MEMORANDUM PER" néven emlegetett üldöztetés. A meghurcoltakat TÓDOR JÁNOS  ügyész mentette meg. 
      </p>
      <p>
        A jelenlegi a főbejárat a déli oldalon van. Fölötte egy felírat "  ANO 1780  PORTA PATET VITAE SPONSUS VOCA ERGO VENITE  (AZ ÉLET NYITOTT KAPUJA, ÜNNEPÉLYESEN HÍV, TEHÁT JÖJJETEK). 
      </p>
      <p>
       A templomot  alacsony várfal veszi körül, amelynek déli és nyugati oldalát lebontották, hogy rálátást nyerjenek a templomkertre. Itt van elhelyezve  a híres felírat a zászlótartón, amely hirdeti: "EMBER VÉSD SZÍVEDBE, HOGY EZ A FÖLD MINDIG SZÉKELY VOLT, ÉS AZ IS MARAD ". 
      </p>
      <p>
        A templom alatt egy befalazott kripta található. Nagy misztérium övezi. Talán a pestis járvány miatt falazták be a bejáratát, vagy a mellékhajó építése miatt zárták le. Nem tudjuk. Nem kizárt, hogy itt nyugszik István pap holtteste is, akinek a nevéhez fűződik a Csíksomlyói Pünkösdszombati Búcsú elindítása. A 2020-as restaurálás talán alkalmat ad ennek a titoknak a megfejtésére is.
      </p>
      <p>
        (Összeállította Balázs József 2020-ban Fülöp Sándor kutatásai nyomán, valamint egyéb információk alapján)
      </p>
    </div>
  </div>
</div>
