<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <h1 class="single-post-title">Súgó-barlang</h1>
    <img
      src="img/cards/sugo_barlang.jpg.png"
      alt=""
      class="single-cover-image"
      style="height: 240px"
    />
    <div class="single-post-content">
      <p>
        A Súgó-barlang (románul Peștera Șugău) Gyergyóalfalutól 20,4 km-re
        található, Tekerőpatak határában, a Gyergyói-medence legjelentősebb
        barlangja. A barlang és 17-19 hektáros környéke védett terület, 2006
        februárjától a Gyilkostó Adventure Egyesület gyámsága alatt áll.
      </p>
      <p>
        A barlang gyűrődéses mozgások során a paleocén korban keletkezett,
        körülbelül 65 millió évvel ezelőtt. A képződmény egy négyemeletes
        rendszer, amelyből a legalsó szint aktív, patakos részt képez, a felsők
        a másik három emeletet két bejárattal. A benti levegő több szén-dioxidot
        tartalmaz, mint az átlagos, szabad levegő. Páratartalma 95%-os a
        barlangi alacsony, 7-9 °C-os hőmérsékletnek köszönhetően.
      </p>
      <img src="img/cards/sugobarlang.jpg" alt="" style="height: 240px" />
      <p>
        A bent uralkodó mostoha körülmények ellenére élővilága igen változatos,
        számos rovar-, denevér- és ugróvillásfaj él a barlangban.
      </p>
    </div>
  </div>
</div>
