<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <h1 class="single-post-title">Szent Anna Tó</h1>
    <img
      src="img/cards/annato.jpeg"
      alt=""
      class="single-cover-image"
      style="height: 240px"
    />
    <div class="single-post-content">
      <p>
        A Szent Anna-tó (románul Lacul Sfânta Ana) Székelyföld egyik legvonzóbb
        természeti látványossága és Közép-Európa egyetlen épen maradt vulkáni
        tava. Gyergyóalfalutól 87,4 km-re fekszik, egy krátertó az Erdélyi
        Csomád-hegység egyik kialakult vulkáni kráterében. A tó a Mohos
        Természetvédelmi Terület része, amely a Csomád két kráterét foglalja
        magába.
      </p>
      <p>
        A tó keletkezéséhez legenda fűződik, miszerint régen a tó helyén hegy
        helyezkedett el, rajta pedig egy vár és annak ura kegyetlenül bánt egy
        gyönyörű lánnyal, akinek Anna volt a neve. A lány elátkozta az urat,
        hogy süllyedjen a föld alá, így a hegy a várral együtt leomlott és
        helyén létrejött a tó, amelynek partján Anna kápolnát épített. Halála
        után a szent életű lányról nevezték el a tavat.
      </p>
      <p>
        A tó környékén rengeteg változatos kikapcsolódási lehetőség áll
        rendelkezésére a turistáknak évszaktól függetlenül.
      </p>
    </div>
  </div>
</div>
